<template>
  <div >
    <h1>Merchant Page</h1>
    <nuxt-link to="/">Home</nuxt-link>
    <VmMerchantProductsList @sendProductSelect = "onProductSelect($event)"></VmMerchantProductsList>
    <div>
      <!-- <form> -->
        <section class="modal-card-body">
          <div>
<!--             <div class="field">
              <p class="control has-icons-left has-icons-right">Merchant ID:
                  <input
                    type="merchantId"
                    name="merchantId"
                    placeholder="merchantId"
                    v-model="productSelect.merchantId">
              </p>
            </div> -->
            <div class="field">
              <p class="control has-icons-left has-icons-right">SKU:
                  <input
                    type="sku"
                    name="sku"
                    placeholder="SKU"
                    v-model="productSelect.sku">
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">Product Name:
                  <input
                    type="name"
                    name="Name"
                    placeholder="Name"
                    v-model="productSelect.name">
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">Country of Origin:
                <input 
                  type="country"
                  placeholder="Country"
                  name="country"
                  v-model="productSelect.country">    
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">Price:
                  <input
                    type="price"
                    name="price"
                    placeholder="price"
                    v-model="productSelect.price">
                </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">Unit Weight:
                  <input
                    type="unitWeight"
                    name="unitWeight"
                    placeholder="Unit Weight"
                    v-model="productSelect.unitWeight">
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">Stock Quantity:
                  <input
                    type="stockLevel"
                    name="stockLevel"
                    placeholder="Stock Level"
                    v-model="productSelect.stockLevel">
              </p>
            </div>

<!--             <div class="field">
              <p class="control has-icons-left has-icons-right">Image Name:
                  <input
                    type="image"
                    name="imageName"
                    placeholder="Image Name"
                    v-model="productSelect.imageName">
              </p>
            </div> -->
          </div>
        </section>
        <footer class="modal-card-foot">
          <button type="button" class="button is-primary" @click="addProduct">{{ primaryBtnLabel }}</button>
        </footer>
      <!-- </form> -->
    </div>
    <div>
      {{ errMessage }}
    </div>
  </div>
  
</template>

<script>
// returns the cookie with the given name,
// or undefined if not found
function getCookie(name) {
  let matches = document.cookie.match(new RegExp(
    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
  ));
  return matches ? decodeURIComponent(matches[1]) : undefined;
}
function updateProduct({$axios, config, bodyParam}){
          
  //$axios.put('http://localhost:8080/updatecountry', config, bodyParam)
  $axios.put('http://35.240.178.73/updatecountry', config, bodyParam)
    .then((response) =>{
      console.log("Product Update response: " + JSON.stringify(response.data));
  
  }).catch(error=>{
    console.log(error);
  });

}
import VmMerchantProductsList from '@/components/products_list/MerchantProductsListContainer'

export default {

  name: 'merchant',
  components: {
    VmMerchantProductsList
  },
  asyncData({ $axios, store }) {

    //console.log("store access token :" + context.store.getters.getAccessToken);
    //console.log("Merchant Page, store access token :" + store.getters.getAccessToken);
    if (localStorage.getItem("isUserLoggedIn"))
    {
      // retrieve jwt token that must be USER_ADMIN
      //let bearerToken = JSON.parse(context.store.getters.getAccessToken);
      // let defaultHeaders = new HttpHeaders();
      // console.log("Http Default Headers:" + defaultHeaders);
      let bearerToken = JSON.parse(store.getters.getAccessToken);
      let config = {
        headers: {
          'Content-Type' : 'application/json',
          'Accept' : 'application/json',
          'Authorization' : 'Bearer '+ bearerToken,
        }
      }
/*       let proxy = {
        '/api3/v1': {target: 'http://34.87.100.205/', pathRewrite: {'/api3/v1': ''}}
      } */
      let pageParam = 5;
      let sizeParam = 20;
      //console.log("Page :" + JSON.stringify(page)); 'http://34.87.100.205/products?page='
      //return $axios.get('http://34.87.100.205/products?page=' + pageParam + '&size=' + sizeParam, config, proxy= {
      //return $axios.get('http://localhost:8080/products?page=' + pageParam + '&size=' + sizeParam, config)
      return $axios.get('http://35.240.178.73/products?page=' + pageParam + '&size=' + sizeParam, config)
        .then((response) =>{
            //console.log(response.data);
            //localStorage.setItem("ProductData", JSON.stringify(response.data));
            store.commit("setMerchantProducts", response.data);
            // console.log("Response config :" + JSON.stringify(response.config));
            // console.log("Response header :" + JSON.stringify(response.headers));
            // console.log("Response data :" + response.data);
            // console.log("Response status :" + response.status);
            //console.log("Cookie from Document:" + document.cookie);
            //console.log("Cookie from Function:" + getCookie('XSRF-TOKEN'));
            store.commit ('setXsrfToken', getCookie('XSRF-TOKEN'));
            return { products : response }
        }).catch((error)=>{
          console.log("Error :" + JSON.stringify(error));
          alert(error.message);
          this.isError = true;

        });
    }
  },
  data () {
    return {
      primaryBtnLabel: 'Add New Product',
      data : null,
      selectedCustomer : null,
      selectedProduct: null,
      products: [],
      page: [],
      size: [],
      isError : false,
      productSelect: {
        merchantId: '',
        name: '',
        imageName: '',
        country: '',
        price:'',
        unitWeight: '',
        stockLevel: '',
        sku: '',
      },
      errMessage: null
    };
  },
  created() {
    // get all users prior to page loads
    localStorage.setItem("isUserLoggedIn", false);
    this.isError = false;
    //getAllCustomers();
    this.selectedCustomer = localStorage.getItem("Selected Customer");
  },
  methods:{
    async getProductByCountry(country){

      $axios.get('http://34.87.100.205/products?country='+ country).then((response)=>{
        console.log("Product List response: " + JSON.stringify(response.data));
        localStorage.setItem("Product Data", JSON.stringify(response.data));

        let data = response.data;
        console.log("Saved Data " + JSON.stringify(data));
        return { products : response }

      }).catch(error=>{
        console.log(error);
      });
    },
    addProduct () {

      //console.log("Confirm Form");
      let bearerToken = JSON.parse(this.$store.getters.getAccessToken);
      let csrfToken = this.$store.getters.getXsrfToken;
      console.log("XSRF Token: " + csrfToken);
      let config = {
          headers: {
            'Content-Type' : 'application/json',
            'Accept' : 'application/json',
            'Authorization' : 'Bearer '+ bearerToken,
            'X-XSRF-TOKEN': csrfToken,
            }
        }
      let bodyParam = this.productSelect;
      //console.log("Config and Bodyparam: " + config + bodyParam);
      //this.$axios.post('http://localhost:8080/newproduct', config, bodyParam)
      this.$axios.post('http://35.240.178.73/newproduct', config, bodyParam)
                  .then((response) =>{
                        console.log("New Product response: " + JSON.stringify(response.data));

                      }).catch(error=>{
                        console.log(error);
                        alert(error.message)
                });
    },
    updateProduct () {
      localStorage.setItem("updateCustomer", true);
    },
    deleteProduct () {

      localStorage.setItem("deleteCustomer", true);
      let user = localStorage.getItem("Selected User");
      //let bearerToken = JSON.parse(localStorage.getItem("encoded_accessToken"));
      let bearerToken = JSON.parse(this.$store.getters.getAccessToken);
      let config = {
        headers: {
            'Content-Type' : 'application/json',
            'Accept' : 'application/json',
            'Authorization' : 'Bearer '+ bearerToken
            }
        }

      console.log("Delete customer by Id :" + this.user.customerId);
      //let response = CustomerService.deleteCustomerById(JSON.parse(user), bearerToken);
      let response = { 'delete' : true };
      console.log("Admin Delete Customer :" + JSON.stringify(response));
      let isDeleted = JSON.stringify(response);
      console.log("isDeleted : " + isDeleted);
      if (isDeleted.delete === true)
      {
        window.alert("Customer Record Deleted : " + JSON.stringify(this.customer.customerId) + "Success!");
      }else{
        window.alert("Customer Record Deleted : " + JSON.stringify(this.customer.customerId) + "Failed!");
      } 
      
    },
    onProductSelect({action,data}){

      this.productSelect = data;
      console.log("Action to be taken: " + action);
      console.log("Product Selected: " + JSON.stringify(data));
      let bearerToken = JSON.parse(this.$store.getters.getAccessToken);
      //let bearerToken = localStorage.getItem("Id Token");
      let csrfToken = this.$store.getters.getXsrfToken;
      this.$axios.defaults.headers.common['X-CSRF-TOKEN'] = csrfToken;
      console.log("XSRF Token: " + this.$axios.defaults.headers.common['X-CSRF-TOKEN']);
      console.log("XSRF Token: " + csrfToken);
      let config = {
          headers: {
            'Content-Type' : 'application/json',
            'Accept' : 'application/json',
            'Authorization' : 'Bearer '+ bearerToken,
            'X-XSRF-TOKEN': csrfToken,
            }
        }
      let bodyParam = this.productSelect;
      //console.log("Product Service Config : " + JSON.stringify(config))

      //console.log("Merchant Page, Product Selected" + JSON.stringify(bodyParam));
      //this.productSelect.merchantId = data.merchantId;
      if (action === 'select'){
        
      }
      else if (action === 'delete'){
        //this.$axios.delete('http://localhost:8080/deleteproduct', config, bodyParam)
        this.$axios.delete('http://35.240.178.73/deleteproduct', config, bodyParam)
                  .then((response) =>{
                        console.log("Product Delete response: " + JSON.stringify(response.data));
                        alert(response);
                      }).catch(error=>{
                        console.log(error);
                        alert(error.message)
                });
      }
    }
  }, 
  computed: {
    isAdminLoggedIn () {
      var isAdmin = localStorage.getItem("isAdmin");
      this.$store.commit("setAdminClaims", isAdmin);
      // console.log("Page Index : isAdminClaims" + this.$store.getters.isAdminClaims)
      return this.$store.getters.isAdminClaims;

      //return true;
    },
    isUserLoggedIn () {
      return this.$store.getters.isUserLoggedIn;
    },
    isProductSelected(){
      // console.log("Prduct Selected :" + this.$store.getters.isProductSelected);
      return this.$store.getters.isProductSelected;
    },
/*     showSelectedProduct(){
      if (this.$store.getters.isProductSelected){
        let selectedProduct = this.$store.getters.getSelectMerchantProduct;
        console.log("Selected Product in emit event: " + selectedProduct);
        this.productSelected.merchantId = selectedProduct.merchantId;
        this.productSelected.name = selectedProduct.name;
        this.productSelected.country = selectedProduct.country;
        this.productSelected.imageName = selectedProduct.imageName;
        this.productSelected.price = selectedProduct.price;
        this.productSelected.unitWeight = selectedProduct.unitWeight;
        this.productSelected.stockLevel = selectedProduct.stockLevel;
        this.productSelected.sku = selectedProduct.sku;
        console.log("productSelected: " + JSON.stringify(this.productSelected));
        return selectedProduct;
      }
    }, */

  },
};
</script>

<style>
  .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
  
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
</style>