<template>
  <div>
    <h1>Admin Page</h1>
    <nuxt-link to="/">Home</nuxt-link>
    <VmUsersList></VmUsersList>
    <!-- <div> -->
    <pre>{{ selectedUser }}</pre>
    <!-- <div id='checkboxes'> -->
    <div>
      <CheckBox label="ROLE_USER" value="ROLE_USER" v-model="checkedRoles"/>
      <CheckBox label="ROLE_MERCHANT" value="ROLE_MERCHANT" v-model="checkedRoles" /> 
      <CheckBox label="ROLE_ADMIN" value="ROLE_ADMIN" v-model="checkedRoles"/> 
      <br>
      <span>Checked names: {{ checkedRoles }}</span>
    </div>

<!--     <form >
      <h1>New Customer Entry Page</h1>
      <h2>First Name:</h2>
      <input v-model="customer.customerFirstName" type="text" placeholder="First Name" required>
      <h2>Last Name:</h2>
      <input v-model="customer.customerLastName" type="text" placeholder="last Name" required>
      <h2>Date Of Birth:</h2>
      <input v-model="customer.customerDOB" type="date" placeholder="Date Of Birth" required>
      <h2>Residential Address:</h2>
      <textarea v-model="customer.customerAddress" placeholder="add multiple lines" required></textarea>
      <h2>Billing Address:</h2>
      <textarea v-model="customer.customerBillAddress" placeholder="add multiple lines" required></textarea>
      <h2>Postal Code:</h2>
      <input v-model="customer.customerPostalCode" placeholder="Postal Code" required>
      <h2>Mobile:</h2>
      <input v-model="customer.customerMobile" type="phone" placeholder="Mobile No" required>
      <h2>Email:</h2>
      <input v-model="customer.customerEmail" type="email" placeholder="Email">
      <h2>Card number</h2>
      <input v-model="customer.customerCreditCardNum" type="text" placeholder="XXXX-XXXX-XXXX-XXXX">
    </form>
    <div>
      <pre>{{ customer }}</pre>
    </div> -->
    <footer class="modal-card-foot">
<!--       <button type="Add Customer" class="button is-info" @click="addCustomer">{{ addCustomerLabel }}</button>
      <button type="Update Customer" class="button is-info" @click="updateCustomer">{{ updateCustomerLabel }}</button>
      <button type="Delete Customer" class="button is-info" @click="deleteCustomer">{{ deleteCustomerLabel }}</button>
      <button type="Get Accounts" class="button is-info" @click="getAccounts">{{ getAccountsLabel }}</button> -->
      <button type="Delete Customer" class="button is-info" @click="updateClaims">{{ updateClaimsLabel }}</button>
      <button type="Get Accounts" class="button is-info" @click="removeClaims">{{ removeClaimsLabel }}</button>
    </footer>
  </div>
</template>

<script>
import VmUsersList from '@/components/users_list/UsersListContainer'
import UserAdminService from '@/services/UserAdminService'
import CustomerService from '@/services/CustomerService'
import CheckBox from '@/components/modal/Checkbox'
//import axios from 'axios'

function sortArray (inputArray){
  var sortData = [];

  for (let i = 0; i < inputArray.length; i++) {

    //console.log(i + " record :");
    var temp = inputArray[i];
    //console.log("uid :" + temp.uid);
    //console.log("email :" + temp.email);
    //console.log("customClaims :" + JSON.stringify(temp.customClaims));
    var temp2 = {'uid': temp.uid, 'email':temp.email, 'customClaims':temp.customClaims};
    sortData.push(temp2);
  }
    //localStorage.setItem("SimplifiedUserData" , JSON.stringify(sortData));
    return sortData;
}
function getUserUidEmailCustomClaims (inputArrayIndex){

  //console.log("uid :" + inputArrayIndex.uid);
  //console.log("email :" + inputArrayIndex.email);
  //console.log("customClaims :" + JSON.stringify(inputArrayIndex.customClaims));

  return {'uid': inputArrayIndex.uid, 'email':inputArrayIndex.email, 'customClaims':inputArrayIndex.customClaims}
}

export default {
  name: 'admin',
  components: {
    VmUsersList,
    CheckBox,
    isErr: false,
    errMessage : '',
  },
  asyncData(context) {
    let isAdmin = localStorage.getItem("isAdmin");
    let isUserLogged = context.store.getters.isUserLoggedIn;
    //console.log("isAdmin : " + isAdmin + ", isUserLogged: " + isUserLogged);
    if (isAdmin)
    {
      //console.log("store access token :" + context.store.getters.getAccessToken);
      // retrieve jwt token that must be USER_ADMIN
      let bearerToken = JSON.parse(context.store.getters.getAccessToken);
      //let bearerToken = localStorage.getItem("Id Token");
      let config = {
        headers: {
          'Content-Type' : 'application/json',
          'Accept' : 'application/json',
          'Authorization' : 'Bearer '+ bearerToken
          }
      }
      //console.log("Config :" + JSON.stringify(config));
      //console.log("User Accounts: " + JSON.stringify(context.store.getters.getUsersAccountDetails));
      //sortArray(context.store.getters.getUsersAccountDetails);
      //console.log("User Accounts Details :" + JSON.stringify(userData));
      //console.log("Context app :" + context.app.$axios.$get);
      
      //context.app.$axios.$get('http://34.87.100.205/getAccounts',
      context.app.$axios.$get('http://35.240.178.73/getAccounts',
                  config).then(response =>{
        //console.log("Get Accounts in Admin Page: " + JSON.stringify(response));
        //localStorage.setItem("UsersAccount", JSON.stringify(response));
        //localStorage.setItem("customerData", JSON.stringify(response));
        var data = sortArray(response);
        
        //console.log("User Accounts: " + JSON.stringify(data));
        //localStorage.setItem("customerData", JSON.stringify(data));
        context.store.commit('setUsersAccount', JSON.stringify(data));
        setTimeout(3000);
        return { usersAccount : data }

      }).catch(error =>{
        console.error("Err msg data :" + JSON.stringify(error));
        context.isErr = true;
        //errMessage = error.message;
        alert(error.message);
      });

      // works with Sean's Customer Service - To merge with Kelvin User Admin service
/*       return context.app.$axios.$get('http://35.225.240.100:8080/customer', config)
        .then(response =>{
            console.log(response);
            localStorage.setItem("customerData", JSON.stringify(response));
            return { usersAccount : response }
        }) */
    }else{
      alert("Error: Invalid Access");
    }
  },
  data () {
    return {
      addCustomerLabel: 'Add Customer',
      updateCustomerLabel: 'Update Customer',
      deleteCustomerLabel: 'Delete Customer',
      getAccountsLabel: 'Get Accounts',
      updateClaimsLabel: 'Update Claims',
      removeClaimsLabel: 'Remove Claims',
      data : null,
      customer:{
          customerAddress: "",
          customerBillAddress: "",
          customerCreditCardNum: "",
          customerDOB: "",
          customerEmail: "",
          customerFirstName: "",
          customerId: "",
          customerJoinDate: "",
          customerLastName: "",
          customerLastUpdate: "",
          customerLoyaltyPoints: 0,
          customerMobile: "",
          customerPostalCode: "",
          customerUID : ""
      },
      selectedCustomer : null,
      usersAccount: "",
      checkedRoles: []
    };
  },
  created() {
    // get all users prior to page loads
    localStorage.setItem("isUserLoggedIn", false)
    //getAllCustomers();
    this.selectedCustomer = localStorage.getItem("Selected Customer");
    /* if (localStorage.getItem("isUserLoggedIn"))
    {
      // retrieve jwt token that must be USER_ADMIN
      //let bearerToken = JSON.parse(localStorage.getItem("encoded_accessToken"));
      let bearerToken = JSON.parse(this.$store.getters.getAccessToken);
      console.log("Store Access Token in admin page:" + JSON.stringify(bearerToken));
      let config = {
        headers: {
          'Content-Type' : 'application/json',
          'Accept' : 'application/json',
          'Authorization' : 'Bearer '+ bearerToken
          }
      }
      
      //return $axios.get('https://jsonplaceholder.typicode.com/posts')
      return this.$axios.get('http://35.225.240.100:8080/customer', config)
        .then(response =>{
            //console.log(response.data);
            localStorage.setItem("customerData", JSON.stringify(response.data));
            return { posts: response.data }
        })
    }else{

      return { response : null }
    } */
  },
  mounted (){
    this.selectedUser = null;
  },
  methods:{
    async getAccounts(){
    // asyncData({ $axios }){

      const response = UserAdminService.getAccounts();
      console.log("Get accounts " + JSON.stringify(response.data));
      
/*       $axios.get('/api2/v1/' + 'getAccounts').then((response)=>{
        console.log("User List response: " + JSON.stringify(response.data));
        localStorage.setItem("User Data", JSON.stringify(response.data));

        let data = response.data;
        onsole.log("Saved Data " + JSON.stringify(data));

      }).catch(error=>{
        console.log(error);
      }); */
    //   return $axios.get('https://jsonplaceholder.typicode.com/posts')
    //     .then(response =>{
    //       console.log(response);
    //     })
    },
    addCustomer () {

      this.customer.loyaltyPoints = '0';
      localStorage.setItem("addCustomer", true);
      localStorage.setItem("newCustomer", JSON.stringify(this.customer));
      //let bearerToken = JSON.parse(localStorage.getItem("encoded_accessToken"));
      let bearerToken = JSON.parse(this.$store.getters.getAccessToken);
      //console.log("Store Token : " + storeToken);
      //console.log("This.Customer : " + JSON.stringify(this.customer));
      CustomerService.createCustomer(this.customer, bearerToken);
      //console.log("Create Customer :" + JSON.stringify(response));
    },
    updateCustomer () {
      localStorage.setItem("updateCustomer", true);
    },
    deleteCustomer () {

      localStorage.setItem("deleteCustomer", true);
      let user = localStorage.getItem("Selected User");
      //let bearerToken = JSON.parse(localStorage.getItem("encoded_accessToken"));
      let bearerToken = JSON.parse(this.$store.getters.getAccessToken);
      let config = {
        headers: {
            'Content-Type' : 'application/json',
            'Accept' : 'application/json',
            'Authorization' : 'Bearer '+ bearerToken
            }
        }
      console.log("Delete customer by Id :" + this.user.customerId);
      //let response = CustomerService.deleteCustomerById(JSON.parse(user), bearerToken);
      let response = { 'delete' : true };
      console.log("Admin Delete Customer :" + JSON.stringify(response));
      let isDeleted = JSON.stringify(response);
      console.log("isDeleted : " + isDeleted);
      if (isDeleted.delete === true)
      {
        window.alert("Customer Record Deleted : " + JSON.stringify(this.customer.customerId) + "Success!");
      }else{
        window.alert("Customer Record Deleted : " + JSON.stringify(this.customer.customerId) + "Failed!");
      } 
      
    },
    updateClaims(){
 
      let bearerToken = JSON.parse(this.$store.getters.getAccessToken);
      //let bearerToken = this.$store.getters.getIdToken;
      let config = {
        headers: {
          'Content-Type' : 'application/json',
          'Accept' : 'application/json',
          'Authorization' : 'Bearer '+ bearerToken
          }
      }
      console.log("Config: " + JSON.stringify(config));
      let selectedUser = JSON.parse(this.$store.getters.getSelectedUser);
      //console.log("Selected User in Admin Page: " + JSON.stringify(selectedUser));
      selectedUser.customClaims.claims = this.checkedRoles;
      let bodyParams = {
        'email': selectedUser.email,
        'claims': selectedUser.customClaims.claims
      }
      //console.log("Selected User Custom Claims in Admin Page: " + JSON.stringify(selectedUser.customClaims.claims));
      //console.log("Selected User Custom Claims in Admin Page: " + JSON.stringify(selectedUser.customClaims.claims));
      //console.log("Data for AddClaims request: " + JSON.stringify(bodyParams));
      //console.log("Config in AddClaims request: " + JSON.stringify(config));
      //this.$axios.$post('http://34.87.100.205/addclaims',
      this.$axios.$post('http://35.240.178.73/addclaims',
                  bodyParams,
                  config).then(response =>{
        console.log("Set Claims in Admin Page: " + JSON.stringify(response));
        alert (response);
        //selectedUser = null;
        return { response }

      }).catch(error =>{
        //console.log("Err msg data :" + JSON.stringify(error));
        console.error(error.message);
        //alert (error.message);
      });
    },
    removeClaims(){
 
      let bearerToken = JSON.parse(this.$store.getters.getAccessToken);
      //let bearerToken = this.$store.getters.getIdToken;
      let config = {
        headers: {
          'Content-Type' : 'application/json',
          'Accept' : 'application/json',
          'Authorization' : 'Bearer '+ bearerToken
          }
      }

      let selectedUser = JSON.parse(this.$store.getters.getSelectedUser);
      //console.log("Selected User in Admin Page: " + JSON.stringify(selectedUser));
      selectedUser.customClaims.claims = this.checkedRoles;
      let bodyParams = {
        'email': selectedUser.email,
        'claims': selectedUser.customClaims.claims
      }
      //console.log("Selected User Custom Claims in Admin Page: " + JSON.stringify(selectedUser.customClaims.claims));
      //console.log("Selected User Custom Claims in Admin Page: " + JSON.stringify(selectedUser.customClaims.claims));
      //console.log("Data for AddClaims request: " + JSON.stringify(bodyParams));
      //console.log("Config in AddClaims request: " + JSON.stringify(config));
      //this.$axios.$post('http://34.87.100.205/addclaims',
      this.$axios.$put('http://35.240.178.73/removeclaims',
                  bodyParams,
                  config).then(response =>{
        console.log("Remove Claims in Admin Page: " + JSON.stringify(response));
        alert (response);
        selectedUser = null;
        return { response }

      }).catch(error =>{
        //console.log("Err msg data :" + JSON.stringify(error));
        console.error(error.message);
        //alert (error.message);
      });
    },

  }, 
  computed: {
    isAdminLoggedIn () {
      var isAdmin = localStorage.getItem("isAdmin");
      this.$store.commit("setAdminClaims", isAdmin);
      console.log("Page Index : isAdminClaims" + this.$store.getters.isAdminClaims)
      return this.$store.getters.isAdminClaims;

      //return true;
    },
    isUserLoggedIn () {
      return this.$store.getters.isUserLoggedIn;
    },
    isSelect(){
      console.log("User Selected :" + this.$store.getters.isUserSelected);
      return this.$store.getters.isUserSelected;
    },
    selectedUser(){
      return JSON.parse(this.$store.getters.getSelectedUser);
    },
    updateStatus(){
      console.log("CheckNames : " );
    }
  },
};
</script>
