<template>
  <div class="columns is-centered is-multiline">
    <!-- <div class="card column is-one-quarter" v-for="user in users" :key="user.customerId"> -->
    <div class="card column is-one-quarter" v-for="user in users" :key="user.uid">
      <VmUsers :user="user"></VmUsers>
    </div>
  </div>
</template>

<script>
import VmUsers from '../Users';
import { getByTitle } from '@/assets/filters';

export default {
  name: 'usersList',
  
  components: { VmUsers },

  data () {
    return {
      id: '',
      noProductLabel: 'No product found',
      productsFiltered: [],

    };
  },

  computed: {
    users () {
        //let customers = JSON.parse(localStorage.getItem("customerData"));
        let customers = JSON.parse(this.$store.getters.getUsersAccount);
        //console.log("Customer Data in UserlistContainer :" + customers);
        //return this.$store.state.allusers;
        //return JSON.parse(localStorage.getItem("customerData"));;
        return customers;    
      }
  },

  methods: {
    getProductByTitle () {
      let listOfProducts = this.$store.state.allusers,
          titleSearched = this.$store.state.userInfo.productTitleSearched;
      
      return this.productsFiltered = getByTitle(listOfProducts, titleSearched);
    }
  },
  /* asyncData(context) {

    console.log("store access token :" + context.store.getters.getAccessToken);
    if (localStorage.getItem("isUserLoggedIn"))
    {
      // retrieve jwt token that must be USER_ADMIN
      let bearerToken = JSON.parse(context.store.getters.getAccessToken);
      let config = {
        headers: {
          'Content-Type' : 'application/json',
          'Accept' : 'application/json',
          'Authorization' : 'Bearer '+ bearerToken
          }
      }
      return axios.get('http://35.225.240.100:8080/customer', config)
        .then(response =>{
            //console.log(response.data);
            localStorage.setItem("customerData", JSON.stringify(response.data));
            return { users : response.data }
        })
    }
  }, */


};

</script>

<style lang="scss" scoped>
  .card {
    margin: 10px;
  }
</style>
