<template>
  <div>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">Name : {{ product.name }}</p>
          <!-- <p class="title is-4">Id : {{ product.merchantId }}</p> -->
          <p class="title is-4">SKU :{{ product.sku }}</p>
        </div>
      </div>
      <div class="content is-clearfix">
        <p>Country of Origin: {{ product.country }}</p>
        <p>Unit Weight : {{ product.unitWeight }}</p>
        <p>Stock Quantity: {{ product.stockLevel }}</p>
        <!-- <p>SKU :{{ product.sku }}</p> -->
        <p class="is-pulled-right">
          <span class="title is-4"><strong>&dollar; {{ product.price }}</strong></span>
        </p>
      </div>
      <div class="card-footer btn-actions">
      </div>
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'merchantproducts',
  props: ['product'],

  data () {
    return {
      selectProductLabel: 'Select',
      deleteProductLabel: 'Delete',
      viewDetailsLabel: 'Details',
      removeFromCartLabel: 'Remove from cart',
      selected: 1,
      selectProduct: null,
    }
  },

  mounted () {

  },

  computed: {
    isUserLogged () {
      return this.$store.getters.isUserLoggedIn;
    }
  },

  methods: {
/*     selectMerchantProduct (product) {
            
      this.$store.commit('setProductSelected', true);
      this.$store.commit('setSelectMerchantProduct', product);
      this.$emit('productSelectedMsg', product);

    }, */
  }
}
</script>

<style lang="scss" scoped>
 .details {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &:hover {
      border: 1px solid #51bafc;
    }
 }
 .button,
 .select {
   z-index: 2;
 }
 .select {
   position: absolute;
   right: 15px;
   bottom: 35px;
 }
 .card-content {
   padding: 0;
 }
 .buttons {
   margin: 0;
 }
</style>


