<template>
  <div>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <!-- <p class="title is-4">Name : {{ user.customerFirstName }}, {{ user.customerLastName }}</p> -->
          <!-- <p>ID : {{ user.customerId }}</p> -->
          <!-- <p>UID : {{ user.uid }}</p> -->
          <!-- <p>Email : {{ user.customerEmail }}</p> -->
          <p>Email : {{ user.email }}</p>
          <!-- <p>Last update: {{ user.customerLastUpdate }}</p> -->
          <p>Role: {{ user.customClaims }}</p>
        </div>
      </div>
<!--       <div class="content is-clearfix">

      </div> -->
<!--       <div class="content is-clearfix">
        <p v-if="!user.isCustomer">Customer Account : Deactivated</p>
        <p v-if="user.isCustomer">Customer Account : Activated</p>
        <p v-if="!user.isMerchant">Merchant Account : Deactivated</p>
        <p v-if="user.isMerchant">Merchant Account : Activated</p>
      </div> -->
      <div class="card-footer btn-actions">
        <div class="card-footer-item field is-grouped">
          <div class="buttons">
            <!-- <button class="button is-primary" v-if="!user.isCustomer" @click="enableCustomerAcct(user)">{{ activateCustomer }}</button>
            <button class="button is-primary" v-if="user.isCustomer" @click="disableCustomerAcct(user)">{{ deactivateCustomer }}</button>
            <button class="button is-primary" v-if="!user.isMerchant" @click="enableMerchantAcct(user)">{{ activateMerchant }}</button>
            <button class="button is-primary" v-if="user.isMerchant" @click="disableMerchantAcct(user)">{{ deactivateMerchant }}</button> -->
            <button class="button is-primary" @click="select(user)">Select</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CustomerService from '@/services/CustomerService';
import UserAdminService from '@/services/UserAdminService';
//import firebase from 'firebase/app';

export default {
  name: 'users',
  props: ['user'],

  data () {
    return {
      activateCustomer: 'Activate Customer',
      deactivateCustomer: 'Deactivate Customer',
      activateMerchant: 'Activate Merchant',
      deactivateMerchant: 'Deactivate Merchant',
      viewDetailsLabel: 'Details',
      selectedUserState: false,
      selected: null,
 //     quantityArray: [],
      contents: null,
      customer: null,
    }
  },
  created() {
    //var self = this;
    // firebase.auth().onAuthStateChanged((user) => {
    //   self.user = user;
    // });
    // this.customer = JSON.parse(localStorage.getItem("customerData"));
    // console.log("Customer Data: " + this.customer );
  },

  computed: {
    isUserLogged () {
      return this.$store.getters.isUserLoggedIn;
    },
    getAllUsers () {
      this.$store.dispatch("getAllUsers");
    }
  },

  methods: {
    setCustomerAcct(email, enable)
    {
      // call UserAdminService to set claims
      if (enable === true)
      {
        UserAdminService.setClaims(email, "ROLE_USER")
        .then(response => {
          console.log ("User Admin Service Set Claims for user ID: " + data.id + ": ROLE_USER success.");
        })
        .catch(error=>{
          console.log(error);
        })
        console.log ("Customer Account Enable for :" + id);
      }else if(enable === false){
        UserAdminService.removeClaims(email, "ROLE_USER")
        .then(response => {
          console.log ("User Admin Service remove Claims for user ID: " + data.id + ": ROLE_USER success.");
        })
        .catch(error=>{
          console.log(error);
        })
        console.log ("Customer Account Disable for :" + id);
      }

    },
    setMerchantAcct(email, enable)
    {
      // call UserAdminService to set claims
      if (enable === true)
      {
        UserAdminService.setClaims(email, "ROLE_MERCHANT")
        .then(response => {
          console.log ("User Admin Service Set Claims for user ID: " + data.id + ": ROLE_MERCHANT success.");
        })
        .catch(error=>{
          console.log(error);
        })
        console.log ("Merchant Account Enable for :" + id);
      }else if(enable === false){
        UserAdminService.removeClaims(email, "ROLE_MERCHANT")
        .then(response => {
          console.log ("User Admin Service remove Claims for user ID: " + data.id + ": ROLE_MERCHANT success.");
        })
        .catch(error=>{
          console.log(error);
        })
        console.log ("Merchant Account Disable for :" + id);
      }

    },
    enableCustomerAcct (user) {

      //this.$store.commit('setCustomer', data);
      // set Customer Account with id and enable=true
      setCustomerAcct(user.email, true);

    },
    disableCustomerAcct (user) {

      this.$store.commit('setCustomer', data);
      //console.log ("Customer Account disable for :" + id);
      // set Customer Account with id and enable=false
      setCustomerAcct(user.email, false);

    },
    enableMerchantAcct (user) {

      this.$store.commit('setMerchant', data);
      // set Merchant Account with id and enable=true
      setMerchantAcct(user.email, true);
      //console.log ("Merchant Account Enable for :" + id);

    },
    disableMerchantAcct (user) {

      this.$store.commit('setMerchant', data);
      //console.log ("Merchant Account disable for :" + id);
      // set Merchant Account with id and enable=false
      setMerchantAcct(user.email, false);
    },
    select (user)
    {
      //console.log("Selected User :" + JSON.stringify(user));
      //console.log("Selected User :" + JSON.stringify(user));
      localStorage.setItem("Selected", true);
      //localStorage.setItem("Selected User", JSON.stringify(user));
      this.$store.commit('setSelectedUser', JSON.stringify(user));
      this.$store.commit("setUserSelected", true);
    },
    
  }
}

export const actions = {

  data () {
    return {
      token: null,

    }
  },

  
  
  
}
</script>

<style lang="scss" scoped>
 .details {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &:hover {
      border: 1px solid #51bafc;
    }
 }
 .button,
 .select {
   z-index: 2;
 }
 .select {
   position: absolute;
   right: 15px;
   bottom: 35px;
 }
 .card-content {
   padding: 0;
 }
 .buttons {
   margin: 0;
 }
</style>


