<template>
  <div class="columns is-centered is-multiline">
    <div class="card column is-one-quarter" 
      v-for="product in products" :key="product.merchantId">
      <!-- <VmMerchantProducts :product="product" @selectMerchantProduct="getSelectedMerchantProduct"></VmMerchantProducts> -->
      <VmMerchantProducts :product="product"></VmMerchantProducts>
      <button type="Select Product" class="button is-primary" @click="$emit('sendProductSelect',{action:'select',data:product})">{{ selectProductLabel }}</button>
      <button type="Delete Product" class="button is-primary" @click="$emit('sendProductSelect',{action:'delete',data:product})">{{ deleteProductLabel }}</button>
    </div>
<!--     <div class="section" v-if="products.length === 0">
      <p>{{ noProductLabel }}</p>
    </div> -->
    <div>
      <!-- <pre>{{ this.productSelected }}</pre> -->
     
    </div>
    
  </div>
</template>

<script>
import VmMerchantProducts from '../MerchantProducts';
import { getByTitle } from '@/assets/filters';

export default {
  name: 'merchantproductsList',
  
  components: { VmMerchantProducts },
  
  data () {
    return {
      id: '',
      noProductLabel: 'No product found',
      selectProductLabel: 'Select',
      deleteProductLabel: 'Delete',
      productsFiltered: [],
      productSelected: null,

    };
  },

  computed: {
    products () {
      if (this.$store.state.userInfo.hasSearched) {
        return this.getProductByTitle();
      } else {
        //let productlist = JSON.parse(localStorage.getItem("ProductData"));
        let productlist = this.$store.getters.getMerchantProducts;
        //console.log ("List products: " + JSON.stringify(productlist));
        return productlist;
        //return this.$store.state.merchantproducts;
      }
    }
  },

  methods: {
    getProductByTitle () {
      let listOfProducts = this.$store.state.products,
          titleSearched = this.$store.state.userInfo.productTitleSearched;
      
      return this.productsFiltered = getByTitle(listOfProducts, titleSearched);
    },
    getSelectedMerchantProduct(productSelect){
      console.log("Product List Selected Product: " + JSON.stringify(productSelect));
      this.productSelected = productSelect;
      //this.$emit('productSelectMsg', productSelect);
    },
    checkForm(){
      console.log("Check Form");
    },
  }

};
</script>

<style lang="scss" scoped>
  .card {
    margin: 10px;
  }
</style>
