<template>
  <div>
    <h1>Profile Page</h1>
    <form >
      <h2>First Name:</h2>
      <input v-model="customer.customerFirstName" type="text" placeholder="First Name" required>
      <h2>Last Name:</h2>
      <input v-model="customer.customerLastName" type="text" placeholder="last Name" required>
      <h2>Date Of Birth:</h2>
      <input v-model="customer.customerDOB" type="date" placeholder="Date Of Birth" required>
      <h2>Residential Address:</h2>
      <textarea v-model="customer.customerAddress" placeholder="add multiple lines" required></textarea>
      <h2>Billing Address:</h2>
      <textarea v-model="customer.customerBillAddress" placeholder="add multiple lines" required></textarea>
      <h2>Postal Code:</h2>
      <input v-model="customer.customerPostalCode" placeholder="Postal Code" required>
      <h2>Mobile:</h2>
      <input v-model="customer.customerMobile" type="phone" placeholder="Mobile No" required>
      <h2>Email:</h2>
      <input v-model="customer.customerEmail" type="email" placeholder="Email">
      <h2>Card number</h2>
      <input v-model="customer.customerCreditCardNum" type="text" placeholder="XXXX-XXXX-XXXX-XXXX">
    </form>
    <div>
      <pre>{{ customer }}</pre>
    </div>
    <footer class="modal-card-foot">
      <button type="Update Customer" class="button is-info" @click="updateCustomer">{{ updateCustomerLabel }}</button>
    </footer>
  </div>
</template>

<script>
import CustomerService from '@/services/CustomerService'
import axios from 'axios'

export default {
  name: 'profile',
  components: {
    //VmUsersList
  },
  data () {
    return {
      addCustomerLabel: 'Add Customer',
      updateCustomerLabel: 'Update Customer',
      deleteCustomerLabel: 'Delete Customer',
      data : null,
      customer:{
          customerAddress: "",
          customerBillAddress: "",
          customerCreditCardNum: "",
          customerDOB: "",
          customerEmail: "",
          customerFirstName: "",
          customerId: 0,
          customerJoinDate: "",
          customerLastName: "",
          customerLastUpdate: "",
          customerLoyaltyPoints: 0,
          customerMobile: "",
          customerPostalCode: "",
          customerUID : ""
      },
      selectedCustomer : null,
    };
  },
  created(){
    // get all users prior to page loads
    //localStorage.setItem("isUserLoggedIn", false);
    localStorage.setItem("RecordFound", false);
    //getAllCustomers();
    this.selectedCustomer = localStorage.getItem("Selected Customer");
  },
  methods:{
    updateCustomer () {
    
        //let bearerToken = JSON.parse(localStorage.getItem("encoded_accessToken"));  
        let bearerToken = JSON.parse(this.$store.getters.getAccessToken);

        if (localStorage.getItem("RecordFound")){

            localStorage.setItem("updateCustomer", true);

            console.log("This.Customer : " + JSON.stringify(this.customer));
            CustomerService.updateCustomer(this.customer, bearerToken);
            //console.log("Create Customer :" + JSON.stringify(response));

        }else{
            let user = {
                customerAddress: "",
                customerBillAddress: "",
                customerCreditCardNum: "",
                customerDOB: "",
                customerEmail: loginUser.email,
                customerFirstName: "",
                customerId: 0,
                customerJoinDate: "",
                customerLastName: "",
                customerLastUpdate: "",
                customerLoyaltyPoints: 0,
                customerMobile: "",
                customerPostalCode: "",
                customerUID : ""
            }; 

            CustomerService.createCustomer(user, bearerToken);
        }

      
    },
  },
  computed: {
    isAdminLoggedIn () {
      var isAdmin = localStorage.getItem("isAdmin");
      this.$store.commit("setAdminClaims", isAdmin);
      // console.log("Page Index : isAdminClaims" + this.$store.getters.isAdminClaims)
      return this.$store.getters.isAdminClaims;

      //return true;
    },
    isUserLoggedIn () {
      return this.$store.getters.isUserLoggedIn;
    },
    isSelect(){
      console.log("User Selected :" + this.$store.getters.isUserSelected);
      return this.$store.getters.isUserSelected;
    },

  },
  asyncData(context){

    if (localStorage.getItem("isUserLoggedIn"))
    {
      // retrieve jwt token that must be USER_ADMIN
      //let bearerToken = JSON.parse(localStorage.getItem("encoded_accessToken"));
      let bearerToken = JSON.parse(context.store.getters.getAccessToken);
      let config = {
        headers: {
          'Content-Type' : 'application/json',
          'Accept' : 'application/json',
          'Authorization' : 'Bearer '+ bearerToken
          }
      }
      let loginUid = JSON.parse(context.store.getters.getUid)
      //let loginUser2 = JSON.parse(this.$store.getters.getCredentials);
      //console.log("Login User :" + loginUser + " UID :" + loginUser.uid);
      //console.log("Login User2 :" + loginUser2 + " UID :" + loginUser2.uid);

      return axios.get('http://35.225.240.100:8080/customer/UID/' + loginUid , config)
        .then(response =>{
            
            console.log(response.data);
            localStorage.setItem("customerData", JSON.stringify(response.data));
            let dataJson = response.data;
            console.log("Data Json : " + dataJson);
            return { customer : response.data }

        }).catch(error =>{
            //console.log("Error message :" + JSON.stringify(error));
            //console.log("Error Response data :" + JSON.stringify(error.response.data));
            console.log("Error Response message :" + JSON.stringify(error.response.data.message));
            localStorage.setItem("RecordFound", false);
            //alert(JSON.stringify(error.response.data.message));
        })

    }
  },
  
};
</script>