<template>
  <div :class="[ openModal ? 'is-active' : '', 'modal' ]">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
          <p v-if="!isUserLoggedIn" class="modal-card-title">{{ modalTitle }}</p>
          <p v-if="isUserLoggedIn" class="modal-card-title">{{ modalTitleLoggedIn }}</p>
          <button class="delete" aria-label="close" @click="closeModal"></button>
      </header>
      <!-- <form @submit="checkForm" action="#" method="post"> -->
      <form @submit="checkForm">
        <section class="modal-card-body">
          <div v-if="!isUserLoggedIn">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                  <input
                    :class="[highlightEmailWithError ? 'input is-danger' : 'input']"
                    type="email"
                    :placeholder="emailPlaceholder"
                    name="emailName"
                    v-model="email"
                    @keyup="checkEmailOnKeyUp(email)"
                  >
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span v-if="highlightEmailWithError !== null" class="icon is-small is-right">
                    <i :class="[highlightEmailWithError ? 'fa fa-exclamation-circle' : 'fa fa-check']"></i>
                  </span>
                </p>
                <p v-if="highlightEmailWithError" class="help is-danger">{{ emailRequiredLabel }}</p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input 
                  :class="[highlightPasswordWithError ? 'input is-danger' : 'input']"
                  type="password"
                  placeholder="Your password"
                  name="passwordName"
                  v-model="password"
              @keyup="checkPasswordOnKeyUp(password)"
                >
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
                <span v-if="highlightPasswordWithError  !== null" class="icon is-small is-right">
                  <i :class="[highlightPasswordWithError ? 'fa fa-exclamation-circle' : 'fa fa-check']"></i>
                </span>
              </p>
              <p v-if="highlightPasswordWithError" class="help is-danger">{{ passwordRequiredLabel }}</p>
            </div>
          </div>
          <div v-if="isUserLoggedIn" class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="title">Welcome back!</p>
                <p class="heading">Now you are logged in {{ this.account.email }}</p>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button v-if="!isUserLoggedIn" type="submit" class="button is-info">{{ primaryBtnLabel }}</button>
          <!-- <button v-if="!isUserLoggedIn" type="forgotPassword" class="button is-info" @click="forgotPassword">{{ secondaryBtnLabel }}</button> -->
          <button v-if="isUserLoggedIn" type="button" class="button is-info" @click="closeModal">{{ btnLoggedInLabel }}</button>
          <div v-if="isError" class="alert alert-danger">
            <p class="mb-0">{{ errMsg }}</p>
          </div>
        </footer>
      </form>
    </div>
  </div>
</template>

<script>
import { isValidEmail } from '@/assets/validators';

export default {
  name: 'login',
/*   created() {
    firebase.auth().onAuthStateChanged((userAuth) => {
      if (userAuth) {
          firebase
          .auth()
          .currentUser.getIdTokenResult()
          .then((tokenResult) => {
            console.log("?? ", tokenResult.claims) ;
          });
      }
    });
  }, */
  data () {
    return {
      modalTitle: 'Log in', 
      modalTitleLoggedIn: 'Welcome!',
      primaryBtnLabel: 'Log in',
      secondaryBtnLabel: 'Forgot Password',
      emailRequiredLabel: 'Email required',
      passwordRequiredLabel: 'Password required',
      emailNotValidLabel: 'Valid email required',
      btnLoggedInLabel: 'Close',
      emailPlaceholder: 'Your email',
      email: '',
      password: '',
      highlightEmailWithError: null,
      highlightPasswordWithError: null,
      isFormSuccess: false,
      isPasswordReset: false,
      loginUser : null,
      account :
        { 
          email: "", 
          password: "" 
        },
      isError : false,
      errMsg : ""
    };
  },

  computed: {
    isUserLoggedIn () {
      return this.$store.getters.isUserLoggedIn;
    },
    isEmailVerified (){
      return this.$store.getters.isEmailVerified;
    },
    openModal () {
      if (this.$store.getters.isLoginModalOpen) {
        return true;
      } else {
        return false;
      }
    }
  },

  methods: {
    closeModal () {
      //console.log("Show Customer Profile Modal : " + this.$store.getters.systemInfo.openCustomerProfileModal);
      this.$store.commit('showLoginModal', false);
      //Opens Customer Profile Page to update customer profile
      
      // clear email and password when login is close
      this.email = '';
      this.password = '';
    },
/*     forgotPassword () {
      this.$fire.auth.sendPasswordResetEmail(this.email)
      .then(function(){
        this.isPasswordReset = true;
      })
      .catch(function(error){
        console.log(error.data)
      })

    }, */
    checkForm (e) {
      e.preventDefault();

      if (this.email && this.password) 
      {
        this.highlightEmailWithError = false;
        this.highlightPasswordWithError = false;

        this.account.email = this.email;
        this.account.password = this.password;

        const res = this.$store.dispatch("login", this.account).then((response) => {

            this.isFormSuccess = true;
            this.$store.commit('isUserLoggedIn', this.isFormSuccess);
            localStorage.setItem("isUserLoggedIn", true);
            console.log("Email verified : isUserLoggedIn :" + this.isFormSuccess);

        });
        /* .catch(error =>{
          console.log("Login : Error :" + error);
          this.isError = true;
          this.errMsg = error.code;
          window.alert(this.errMsg);
          setTimeout(() =>
          {
            this.isError = false;
          }, 5000);
        }); */
        console.log("Login User resp: " + res);
        if (res === 'success'){
          const user = this.$store.getters.getCredentials;

          this.$router.push("/");
        }else{
          this.$router.push("/"); 
        }

      }

      if (!this.email) {
        this.highlightEmailWithError = true;

        if (this.email && !isValidEmail(this.email)) {
          this.emailRequiredLabel = this.emailNotValidLabel;
        }
      } else {
        this.highlightEmailWithError = false;
      }

      if (!this.password) {
        this.highlightPasswordWithError = true;


      } else {
        this.highlightPasswordWithError = false;
      }
    },
    checkEmailOnKeyUp (emailValue) {
      if (emailValue && isValidEmail(emailValue)) {
        this.highlightEmailWithError = false;
      } else {
        this.highlightEmailWithError = true;

        if (!isValidEmail(emailValue)) {
          this.emailRequiredLabel = this.emailNotValidLabel;
        }
      }
    },
    checkPasswordOnKeyUp (passwordValue) {
      if (passwordValue) {
        this.highlightPasswordWithError = false;
      } else {
        this.highlightPasswordWithError = true;
      }
    }
  }
};
</script>

<style lang="scss">
.fa-exclamation-circle {
  color: red;
}
.fa-check {
  color: green;
}
</style>


