<template>
  <div>
    <VmHero></VmHero>
    <VmProductsList></VmProductsList>
  </div>
</template>

<script>
import VmProductsList from '@/components/products_list/ProductsListContainer';
import VmHero from '@/components/hero/Hero';

export default {
  name: 'index',
  created(){
    localStorage.clear();
    //initialize for retrieval in vue pages
    localStorage.setItem("isCustomer", false);
    localStorage.setItem("isMerchant", false);
    localStorage.setItem("isAdmin", false);

  },
  components: {
    VmProductsList,
    VmHero
  },
  computed: {
    isAdminLoggedIn () {
      var isAdmin = localStorage.getItem("isAdmin");
      this.$store.commit("setAdminClaims", isAdmin);
      // console.log("Page Index : isAdminClaims" + this.$store.getters.isAdminClaims)
      return this.$store.getters.isAdminClaims;

      //return true;
    },
    isUserLoggedIn () {
      return this.$store.getters.isUserLoggedIn;
    },
    openModal () {
      if (this.$store.getters.isCustomerProfileModalOpen) {
        return true;
      } else {
        return false;
      }
    }
  },
};
</script>
