<template>
	<div>
		<div class="navbar-item">
			<div class="field is-grouped">
				<p class="control">
					<a v-if="!isUserLoggedIn" class="button" @click="showSignupModal">
						<span class="icon">
							<i class="fa fa-user-plus"></i>
						</span>
						<span>{{ signupLabel }}</span>
					</a>
				</p>
				<p class="control">
					<a v-if="!isUserLoggedIn" class="button" @click="showLoginModal">
						<span class="icon">
							<i class="fa fa-user"></i>
						</span>
						<span>{{ loginLabel }}</span>
					</a>
				</p>
			</div>
		</div>
		<div v-if="isUserLoggedIn" class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-link">
			Welcome {{ getUserName }}
			</a>
			<div class="navbar-dropdown is-boxed">
				<nuxt-link class="navbar-item" :to="{ name: 'user-wishlist' }">
					{{ wishlistLabel }}
				</nuxt-link>
				<nuxt-link v-if="isAdmin" class="navbar-item"  to="/admin">
					{{ adminLabel }}
				</nuxt-link>
				<nuxt-link v-if="isUserLoggedIn" class="navbar-item"  to="/profile">
					{{ profileLabel }}
				</nuxt-link>
				<nuxt-link v-if="isMerchant" class="navbar-item"  to="/merchant">
					{{ merchantLabel }}
				</nuxt-link>
				<hr class="navbar-divider">
				<a class="navbar-item" @click="logout">
					{{ logoutLabel }}
				</a> 
			</div>
		</div>
	</div>
</template>
<script>
import Cookie from 'js-cookie';

export default {
	name: 'VmMenu',
	data () {
		return {
			wishlistLabel: 'Wishlist',
			adminLabel: 'Admin Page',
			profileLabel: 'Profle Page',
			merchantLabel: 'Merchant Page',
			logoutLabel: 'Log out',
			loginLabel: 'Log in',
			signupLabel: 'Sign up'
		}
	},
	created (){
		//let isAdmin = localStorage.getItem("isAdmin");
		// console.log("Menu Created : isAdmin : " + localStorage.getItem("isAdmin"));
		// console.log("Menu Created : emailVerified : " + localStorage.getItem("emailVerified"));
		// console.log("Menu Created : isUserLoggedIn : " + localStorage.getItem("isUserLoggedIn"));
	},

	computed: {
		isUserLoggedIn () {
			return this.$store.getters.isUserLoggedIn;
		},
		getUserName () {
			let name = this.$store.getters.getUserName;
			
			if (name === '') {
				return 'user';
			} else {
				return name;
			}
		},
		isAdmin (){
			//let isAdmin = localStorage.getItem("isAdmin");
			// console.log("Menu : isAdmin : " + localStorage.getItem("isAdmin"));
			return localStorage.getItem("isAdmin");
			//return this.$store.getters.isAdminClaims;
		},
		isMerchant (){
			return localStorage.getItem("isMerchant");
		}
	},

	methods: {
		logout () {

			this.$store.commit('isUserLoggedIn', false);
			this.$store.commit('isUserSignedUp', false);
			this.$store.commit('removeProductsFromFavourite');

			this.$store.dispatch("logout").then(()=>{
				console.log("logout success");
				Cookie.remove("access_token");
				localStorage.clear();
			}).catch(err => {
				//Getting the error and properly showcasing here
				console.log("logout failed");
        	});
			this.$router.push('/index');

		},
		showLoginModal () {
			this.$store.commit('showLoginModal', true);
		},
		showSignupModal () {
			this.$store.commit('showSignupModal', true);
		}
	}
}
</script>

